* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  background-color: #012333;
  overflow-x: hidden;
}

i {
  color: white;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

/*===================
Typography
===================*/
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h2 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 3vh;
}

input {
  display: block;
}

header {
  text-transform: capitalize;
  margin-bottom: 5vh;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #D6D5D5;
  margin: 3vh auto;
}

a {
  color: white;
}

.about-us header {
  text-align: center;
  margin: auto;
}

button:hover, a:hover, .burger-menu:hover {
  cursor: pointer;
}

/*===================
Layouts
===================*/
.container {
  width: 80%;
  margin: 4vh auto;
  font-family: 'Raleway', sans-serif;
  color: white;
  align-items: center;
}

section {
  margin: 5vh auto 20vh auto;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 5vh 0;
}

.nav-links {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #07405E;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}

.open {
  transform: translateX(0%);
}

.nav-link {
  margin: 5em auto;
  margin-left: 8vh;
}

.burger-menu {
  position: absolute;
  z-index: 2;
  right: 10%;
}

.line-1, .line-2, .line-3 {
  width: 25px;
  height: 0.2em;
  background-color: white;
  margin-bottom: 0.5em;
}

.side-nav {
  display: none;
  position: fixed;
  top: 75vh;
  right: 3%;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.scroll-down {
  display: none;
}

.flex {
  display: flex;
  flex-direction: column;
}

.service-card {
  margin-bottom: 10%;
  text-align: center;
}

.service-card img {
  width: 40%;
  position: relative;
  z-index: 1;
  top: 50px;
  margin-bottom: 1em;
}

.card-content {
  background-color: #07405E;
  width: 100%;
  padding: 2em 2em 2em 2em;
  border-radius: 5px;
}

/* Projects */
.carousel-container {
  width: 80%;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin: auto;
  height: 80vh;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 300%;
}

.project-overview {
  background-color: #07405E;
  width: 100%;
}

.project-overview img {
  object-fit: cover;
  width: 100%;
}

.project-content {
  margin: 2em 10%;
  text-align: center;
}

.carousel-projects {
  height: 80vh;
}

.carousel-button {
  position: relative;
  z-index: 10;
  top: 20%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.carousel-previous button, .carousel-next button {
  display: inline;
}

.arrow-btn {
  background-color: Transparent;
  border-style: none;
}

.arrow-btn i {
  color: #C2C2C2;
  opacity: 0.5;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: auto 5px;
  background-color: #C2C2C2;
  opacity: 0.5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.arrow-btn i:hover, .dot:hover {
  opacity: 1;
}

/*  Contact-us */
.divide-line {
  width: 90%;
  height: 1px;
  background-color: grey;
}

.contact-info {
  width: 80%;
}

.contact-us {
  background-color: #07405E;
  font-family: 'Raleway', sans-serif;
  color: white;
  align-items: center;
  margin: 0;
  padding: 2em 1em;
}

.submit-form, .divide-line {
  width: 80%;
  text-align: center;
}

.divide-line {
  height: 0.5px;
  opacity: 0.5;
  margin-bottom: 2em;
}

.submit-form input, textarea {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  border-style: solid;
  border-color: #3E3E3E;
  color: #3E3E3E;
  border-width: 2px;
  width: 100%;
  height: auto;
  margin: 0.8em auto;
  padding: 1em;
}

.submit-form h3 {
  margin-top: 0;
}

.contact-list {
  display: flex;
  text-align: left;
  align-items: flex-start;
  margin: 2em 0;
}

.contact-list i {
  flex: 1;
}

.contact-list p {
  flex: 8;
  margin: 0;
}

@media (min-width: 678px) {
  html {
    font-size: 16px;
  }

  .burger-menu {
    display: none;
  }

  .nav-links {
    display: flex;
    position: static;
    width: auto;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav-link {
    margin: 2em auto;
    margin-left: 8vh;
  }

  .scroll-down {
    display: block;
  }

  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .card-content {
    width: 30vw;
  }

  .service-lists ul {
    justify-content: space-around;
    align-items: flex-end;
  }

  .contact-info, .submit-form {
    padding: 2em 4em;
    flex: 1;
  }

  .project-content {
    text-align: start;
  }

  .project-overview img {
    object-fit: cover;
    width: auto;
    height: 100%;
  }

  .carousel-button {
    top: 50%;
  }

  .about-us header {
    text-align: left;
    margin-right: 2em;
  }

  .about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }

  .about-us h2 {
    text-align: left;
  }

  .divide-line {
    width: 0.5px;
    height: auto;
    margin: 2em auto;
    background-color: grey;
  }

  .contact-us {
    max-width: 80%;
    justify-content: space-around;
    align-items: stretch;
    margin: 5em auto;
  }
}

li {
  list-style: none;
}

.cover img {
  height: 65vh;
}

.presentation {
  margin-top: 45px;
}

.cta {
  margin: 2em 0;
}

.cta-select, .second-btn {
  border-style: none;
  padding: 0.8em 1.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
}

.cta-select {
  background-image: linear-gradient(#F7931E, #F15A24);
}

.second-btn {
  background-color: Transparent;
  float: right;
}

.cta-select i, .second-btn i {
  margin-left: 24px;
}

.footer-social-link {
  margin: auto 1em;
}

.social-media-link i {
  background-image: linear-gradient(#F7931E, #F15A24);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
}

/* .scroll-down-link {
  display: block;
  margin: 0 auto 100px auto;
  text-align: center;
  color: white;
} */

.middle {
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mouse {
  width: 20px;
  height: 36px;
  border: 2px solid white;
  border-radius: 10px;
}

.mouse::before{
  content: "";
  width: 5px;
  height: 5px;
position: absolute;
top: 5px;
background: white;
left: 50%;
transform: translateX(-50%);
border-radius: 10px;
opacity: 1;
animation: mouse 2s infinite;
}

@keyframes mouse {
  from{
    opacity: 1;
    top: 5px;
  }
  to{
    opacity: 0;
    top: 28px;
  }
}

.about-us img {
  width: 30vh;
}

.about-title {
  display: block;
  margin-right: 50px;
}

footer {
  background-color: #444444;
  width: 100%;
  margin: 0px;
  padding: 40px;
  color: white;
  text-align: center;
}

footer p {
  font-size: 14px;
}

.carousel-dot {
  margin: 1em auto;
  text-align: center;
}
